.navbar-container {
    background-color: var(--color-secondary);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.navbar-logo {
    height: 50px;
}

.navbar-menu {
    width: 50%;
    /* background-color: wheat; */
    display: flex;
    justify-content: space-evenly;
}

.navbar-menu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;

    display: inline-block;   
    margin: 0 10px;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--color-secondary);
}

/* .navbar-menu a:not(:last-child) {
    margin-right: 30px;
} */

.navbar-icons {
    display: flex;
    align-items: center;
}

.avatar {
    margin: 0 10px;
    border: 2px solid var(--color-secondary);
    outline: 1px solid var(--color-primary);
    border-radius: 50%;
}

