.banner-container {
    background-color: var(--color-secondary);
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    padding: 80px 20px;
}

.banner-img {
    width: 100%;
    border-radius: 20px;
}

.banner-content h3 {
    margin-bottom: 10px;
}

.banner-content h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0;
    text-transform: capitalize;
    font-weight: bolder;
}

.banner-content p {
    width: 80%;
    color: rgba(0, 0, 0, 0.747);
    margin-bottom: 30px;
    letter-spacing: 0.4px;
    line-height: 25px;
    font-size: 18px;
}

.banner-content > a {
    text-decoration: none;
}

@media only screen and (max-width: 999px) {
    .banner {
        grid-template-columns: 1fr;
        grid-gap: 50px;
        place-items: center;
    }

    .banner-img {
        order: -1;
    }

    .banner-content p {
        width: 90%;
    }
}

@media only screen and (max-width: 699px) {
    .banner {
        grid-gap: 30px;
        text-align: center;
    }

    .banner-content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .banner-content p {
        margin: 0 auto 30px;
        letter-spacing: inherit;
    }
}

@media only screen and (max-width: 399px) {
    .banner-content p {
        width: 100%;
    }

    .banner-content h1 {
        font-size: 35px;
        line-height: 45px;
    }
}