.section-heading {
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 0px;
    color: var(--color-primary);
}

.section-description {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.title-separator {
    width: 50px;
    height: 5px;
    background-color: var(--color-primary);
    margin: 30px auto;
    border-radius: 30px;
}

@media only screen and (max-width: 699px) {
    .section-heading {
        font-size: 40px;
    }
    
}