
:root {
  --color-primary: #fd6a8a;
  --color-primary-light: rgba(255, 142, 167, 0.5);
  
  --color-secondary-dark:  rgb(245, 224, 236);
  --color-secondary: rgba(245, 224, 236, 0.718);
}


.max-width {
  max-width: 1440px;
  margin: 0 auto;
}